In [2]:
import pandas as pd
df = pd.read_csv("data_v1.csv", engine="python", on_bad_lines='skip')
print("✅ Loaded rows:", len(df))

✅ Loaded rows: 318477

In [24]:
import pandas as pd

# Load the dataset
df = pd.read_csv("data_v1.csv", engine="python", on_bad_lines='skip')
print("✅ Loaded rows:", len(df))

# Display the first 5 rows to preview the data
df.head(20)

✅ Loaded rows: 318477

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN
5,37404307,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Customer Service - Call Centre,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN
6,37404355,Casual Café All-rounder in Semaphore,Jora Local,2018-10-07T00:00:00.000Z,Adelaide,NaN,Hospitality & Tourism,Waiting Staff,A cafe/restaurant in Semaphore is seeking a ca...,NaN,0,30,NaN
7,37404350,Casual Café All-rounder in Woolloongabba,Jora Local,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Waiting Staff,A cafe in Woolloongabba is seeking a casual Ca...,NaN,0,30,NaN
8,37404301,Telemarketer,Reventon Investments,2018-10-07T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Sales - Outbound,Market leading investment & financial services...,NaN,0,30,NaN
9,37404286,Casual Dish Hand in Brighton,Jora Local,2018-10-07T00:00:00.000Z,Melbourne,Bayside & South Eastern Suburbs,Hospitality & Tourism,Kitchen & Sandwich Hands,A restaurant in Brighton is seeking a casual D...,NaN,0,30,NaN
10,37404333,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07T00:00:00.000Z,Adelaide,NaN,Banking & Financial Services,Banking - Retail/Branch,We currently have an exciting part-time opport...,NaN,0,30,NaN
11,37404235,Customer Service Client Nurturer,NaN,2018-10-07T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Customer Service - Customer Facing,"Immediate start - We love our clients, it's yo...",NaN,0,30,NaN
12,37404341,Functions Supervisor - Perth Zoo,Mustard Catering,2018-10-07T00:00:00.000Z,Perth,NaN,Hospitality & Tourism,Bar & Beverage Staff,Casual Food and Beverage Supervisor,NaN,0,30,NaN
13,37404335,BPV_Utility All Rounders_Casual,ISS Facility Services,2018-10-07T00:00:00.000Z,Mackay & Coalfields,NaN,Hospitality & Tourism,Housekeeping,An exciting opportunity exists for Casual DIDO...,NaN,0,30,NaN
14,37404250,Casual Cleaner in Kew,Jora Local,2018-10-07T00:00:00.000Z,Melbourne,Eastern Suburbs,Hospitality & Tourism,Housekeeping,A restaurant in Kew is seeking a casual Cleane...,NaN,0,30,NaN
15,37404259,Customer Service Officer,NaN,2018-10-07T00:00:00.000Z,Sunshine Coast,NaN,Call Centre & Customer Service,Customer Service - Call Centre,An opportunity for a customer service-focused ...,NaN,0,30,NaN
16,37404332,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07T00:00:00.000Z,Adelaide,NaN,Retail & Consumer Products,Retail Assistants,We currently have an exciting part-time opport...,NaN,0,30,NaN
17,37404280,Maintenance Assistant Part-Time,Costco Wholesale,2018-10-07T00:00:00.000Z,Melbourne,Eastern Suburbs,Retail & Consumer Products,Other,Provides janitorial services and general maint...,NaN,0,30,NaN
18,37404266,Telstra Retail Sales & Service Consultant - Ca...,TLS Airport West,2018-10-07T00:00:00.000Z,Melbourne,Western Suburbs,Retail & Consumer Products,Retail Assistants,A great opportunity to join the retail team at...,NaN,0,30,NaN
19,37404247,Assembler,Zoom Recruitment & Training,2018-10-07T00:00:00.000Z,Sydney,Parramatta & Western Suburbs,"Manufacturing, Transport & Logistics",Assembly & Process Work,"Our Client, located in Sydney West, has roles ...",NaN,0,30,NaN

In [26]:
# Check the shape (rows, columns)
print("Shape (rows, columns):", df.shape)

# Check column names and data types
df.info()
df.describe()

Shape (rows, columns): (318477, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318477 entries, 0 to 318476
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 318477 non-null  object
 1   Title              318477 non-null  object
 2   Company            306473 non-null  object
 3   Date               318477 non-null  object
 4   Location           197229 non-null  object
 5   Area               122658 non-null  object
 6   Classification     197229 non-null  object
 7   SubClassification  197229 non-null  object
 8   Requirement        318470 non-null  object
 9   FullDescription    302302 non-null  object
 10  LowestSalary       318477 non-null  int64
 11  HighestSalary      318477 non-null  int64
 12  JobType            302379 non-null  object
dtypes: int64(2), object(11)
memory usage: 31.6+ MB

        LowestSalary  HighestSalary
count  318477.000000  318477.000000
mean       65.813544     114.432342
std        51.063125     177.594941
min         0.000000      30.000000
25%        30.000000      40.000000
50%        60.000000      70.000000
75%       100.000000     120.000000
max       200.000000     999.000000

In [28]:
# Check for missing values
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
Id                        0
Title                     0
Company               12004
Date                      0
Location             121248
Area                 195819
Classification       121248
SubClassification    121248
Requirement               7
FullDescription       16175
LowestSalary              0
HighestSalary             0
JobType               16098
dtype: int64

In [30]:
# List all columns
print("All columns:", df.columns.tolist())

All columns: ['Id', 'Title', 'Company', 'Date', 'Location', 'Area', 'Classification', 'SubClassification', 'Requirement', 'FullDescription', 'LowestSalary', 'HighestSalary', 'JobType']

PART 1
1) Describe the dataset.
For example:
○ What are the categories/domains of the dataset?
○ What is the dataset size of each variation?
○ What is dataset structure/format?
○ What are attributes/features of data you are going to use?
○ Which parts of the dataset will you use or all of them?
2) Describe the steps you used for data preparation and preprocessing.
For example:
○ How do you load the data using Pandas?
○ How do you normalize the data?
○ How do you clean the data?
3) What is your hypothesis (expectation) about the analysis outcome?

In [32]:
# clean Company for finding additional group
# Drop rows missing Requirement
df_clean = df.dropna(subset=['Requirement'])

In [34]:
# create new col CompanyGroupID
df_clean['CompanyGroupID'] = df_clean['Company']


# select only missing row Company
mask_missing_company = df_clean['Company'].isnull()

/var/folders/8t/0q92bs3s4pxc4tyvrgk1v07w0000gn/T/ipykernel_1646/3455205546.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['CompanyGroupID'] = df_clean['Company']

In [44]:
# Mapping from city to state
city_to_state = {
    # New South Wales
    'sydney': 'NSW', 'newcastle': 'NSW', 'wollongong': 'NSW', 'central coast': 'NSW', 'maitland': 'NSW',
    'coffs harbour': 'NSW', 'wagga wagga': 'NSW', 'albury': 'NSW', 'port macquarie': 'NSW',

    # Victoria
    'melbourne': 'VIC', 'geelong': 'VIC', 'ballarat': 'VIC', 'bendigo': 'VIC', 'shepparton': 'VIC',
    'mildura': 'VIC', 'warrnambool': 'VIC', 'traralgon': 'VIC', 'wangaratta': 'VIC',

    # Queensland
    'brisbane': 'QLD', 'gold coast': 'QLD', 'sunshine coast': 'QLD', 'townsville': 'QLD', 'cairns': 'QLD',
    'toowoomba': 'QLD', 'mackay': 'QLD', 'rockhampton': 'QLD', 'bundaberg': 'QLD',

    # South Australia
    'adelaide': 'SA', 'mount gambier': 'SA', 'whyalla': 'SA', 'gawler': 'SA', 'port lincoln': 'SA',
    'murray bridge': 'SA',

    # Western Australia
    'perth': 'WA', 'bunbury': 'WA', 'geraldton': 'WA', 'albany': 'WA', 'kalgoorlie': 'WA', 'broome': 'WA',

    # Tasmania
    'hobart': 'TAS', 'launceston': 'TAS', 'devonport': 'TAS', 'burnie': 'TAS',

    # ACT
    'canberra': 'ACT',

    # Northern Territory
    'darwin': 'NT', 'alice springs': 'NT', 'katherine': 'NT', 'palmerston': 'NT'
}

In [46]:
# Helper function to get state from city
def get_state(location):
    location = location.lower()
    for city, state in city_to_state.items():
        if city in location:
            return state
    return 'UnknownState'

In [64]:
# Create CompanyGroupID using location/classification
def infer_company(row):
    classification = row['Classification']
    subclassification = row['SubClassification']
    location = row['Location']
    requirement = row['Requirement']

    if pd.isna(classification):
        classification = ''
    if pd.isna(subclassification):
        subclassification = ''
    if pd.isna(location):
        location = ''
    if pd.isna(requirement):
        requirement = ''
    
    # Find state
    state = get_state(location)

    # Retail case
    if 'Retail' in classification or 'Retail' in subclassification:
        return f"Store_{state}"

    # Hospitality case
    if 'Hospitality' in classification or 'Waiting Staff' in subclassification:
        return 'Restaurant'
    
    # Banking case
    if 'Banking' in classification or 'Banking - Retail/Branch' in subclassification:
        return 'Bank'

    # Normal Company case
    if ('Call Centre' in classification or 'Customer Service' in classification or 
        'Call Centre' in subclassification or 'Customer Service' in subclassification):
        return 'Company'
    
    # Others
    if state != 'UnknownState':
        return f"NaN_{state}"
    else:
        return 'NaN'

In [66]:
# Apply function to NaN Company rows
df_clean.loc[mask_missing_company, 'CompanyGroupID'] = df_clean[mask_missing_company].apply(infer_company, axis=1)

print("✅ CompanyGroupID created successfully based on State Mapping!")

✅ CompanyGroupID created successfully based on State Mapping!

In [76]:
df_clean.tail(50)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType,CompanyGroupID
318427,38551592,APS6 Equivalent Policy Officer,Effective People,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,Therapeutic Goods Administration requires an A...,NaN,80,100,NaN,Effective People
318428,38551039,Maintenance Officer,Maryvale Private Hospital,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,This hands on role encompasses property mainte...,NaN,80,100,NaN,Maryvale Private Hospital
318429,38564522,Project Officer - Geelong,HOBAN Recruitment,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Are you an experienced Project Officer and loo...,NaN,80,100,NaN,HOBAN Recruitment
318430,38550118,Personal Assistant,MLC,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,You will provide administrative support to mul...,NaN,80,100,NaN,MLC
318431,38544614,"Assistant Project Officer, Operations",NSW Education Standards Authority,2019-03-11T00:00:00.000Z,NaN,NaN,NaN,NaN,"We seek an Assistant Project Officer, Operatio...",NaN,80,100,NaN,NSW Education Standards Authority
318432,38556442,AO4 Program Support Officer,Hays Office Support,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Full-time Program Support Officer role in Bris...,NaN,80,100,NaN,Hays Office Support
318433,38542251,Executive Officer (Part-Time Three Year Contra...,Immanuel Lutheran College,2019-03-11T00:00:00.000Z,NaN,NaN,NaN,NaN,Executive Officer,NaN,100,120,NaN,Immanuel Lutheran College
318434,38555361,Trainee Dump Truck Operator - Nickel West - Mt...,BHP Billiton Group,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,Exciting opportunity to be a part of the growth,NaN,100,120,NaN,BHP Billiton Group
318435,38555363,Trainee Dump Truck Operator - Nickel West - Mt...,BHP Billiton Group,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,Exciting opportunity to be a part of the growth,NaN,100,120,NaN,BHP Billiton Group
318436,38548286,Retail Insurance Assistant,NaN,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,Joe Vella Insurance Brokers (JVIB) has three o...,NaN,100,120,NaN,NaN
318437,38543326,Executive Assistant,Hays Office Support,2019-03-11T00:00:00.000Z,NaN,NaN,NaN,NaN,"Executive Assistant, Parramatta Location, 3 mo...",NaN,100,120,NaN,Hays Office Support
318438,38531279,Consultant,ManpowerGroup,2019-03-08T00:00:00.000Z,NaN,NaN,NaN,NaN,•\tGlobal Organisation\n•\tInnovative Solution...,NaN,100,120,NaN,ManpowerGroup
318439,38557793,Distribution Administrator - Nickel West - Perth,BHP Billiton Group,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Be a part of the growth,NaN,100,120,NaN,BHP Billiton Group
318440,38561654,Course and Careers Advisor,NaN,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Work for a leading RTO developing students dre...,NaN,100,120,NaN,NaN
318441,38556606,"Ref 1302/19, eLearning Support Officer, PVC Di...",Western Sydney University,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Office of the PVC Digital Futures is currently...,NaN,100,120,NaN,Western Sydney University
318442,38559999,Junior Administration Manager,Ashdown People,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,6 month contract with government client. Junio...,NaN,100,120,NaN,Ashdown People
318443,38554728,General Manager Operations,Sheffield,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,Develop customer centric operations for infras...,NaN,120,150,NaN,Sheffield
318444,38560251,Senior Administration Manager,Ashdown People,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Senior Admin Manager will support and work alo...,NaN,120,150,NaN,Ashdown People
318445,38563331,"Senior Director, Operations – UNSW Philanthropy",University of New South Wales,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Strategic executive-level philanthropy operati...,NaN,120,150,NaN,University of New South Wales
318446,38565124,Sales Incentive Manager,Coca-Cola Amatil,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,"Shape, develop and deliver a sales incentive p...",NaN,120,150,NaN,Coca-Cola Amatil
318447,38556050,General Manager,Southern Cross Austereo,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,One-of-a-kind career move for a transformation...,NaN,120,150,NaN,Southern Cross Austereo
318448,38543299,Project Officer | GRAFTON,Complete Staff Solutions Pty Ltd,2019-03-11T00:00:00.000Z,NaN,NaN,NaN,NaN,This is a temporary contract assignment with f...,NaN,120,150,NaN,Complete Staff Solutions Pty Ltd
318449,38560868,National Business Manager: Bunnings,SearchWorks Pty Ltd,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,"Established Global Brand, $60million+ Portfoli...",NaN,120,150,NaN,SearchWorks Pty Ltd
318450,38555890,General Manager,Southern Cross Austereo,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,One-of-a-kind career move for a transformation...,NaN,120,150,NaN,Southern Cross Austereo
318451,38534622,Warehouse Assistant - Indigenous Identified Role,Programmed Skilled Workforce,2019-03-08T00:00:00.000Z,NaN,NaN,NaN,NaN,Programmed Skilled Workforce are currently see...,NaN,120,150,NaN,Programmed Skilled Workforce
318452,38559478,Procurement Officer,Kinexus,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,If you are interested in working on a large sc...,NaN,120,150,NaN,Kinexus
318453,38531136,Career Management Consultant,ManpowerGroup,2019-03-08T00:00:00.000Z,NaN,NaN,NaN,NaN,•\tGlobal Organisation\n•\tInnovative Solution...,NaN,120,150,NaN,ManpowerGroup
318454,38559649,Administration Manager,Whipper Recruitment,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Excellent opportunity to work at a Senior Admi...,NaN,120,150,NaN,Whipper Recruitment
318455,38559400,General Manager of Operations & Customer Exper...,Foxtel Management Pty Limited,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Support our Distribution Partnerships Team to ...,NaN,120,150,NaN,Foxtel Management Pty Limited
318456,38559402,General Manager of Operations & Customer Exper...,Foxtel Management Pty Limited,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Support our Distribution Partnerships Team to ...,NaN,120,150,NaN,Foxtel Management Pty Limited
318457,38558047,Long Term Rail Work Opportunities - Karratha &...,Railtrain Pty Ltd,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,On the back of significant growth in the Pilba...,NaN,120,150,NaN,Railtrain Pty Ltd
318458,38559973,Director Mechanical Services,ENGIE Services Australia & New Zealand Holding...,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Lead & manage business operations in this pivo...,NaN,150,200,NaN,ENGIE Services Australia & New Zealand Holding...
318459,38535092,EA to CEO - Not your traditional support role.,Qudos Recruitment Pty Ltd,2019-03-08T00:00:00.000Z,NaN,NaN,NaN,NaN,Rare opportunity to work for one of our most b...,NaN,150,200,NaN,Qudos Recruitment Pty Ltd
318460,38559951,Director Mechanical Services,ENGIE Services Australia & New Zealand Holding...,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Lead & manage business operations in this pivo...,NaN,150,200,NaN,ENGIE Services Australia & New Zealand Holding...
318461,38557114,"Head of Brand Strategy, Research and Insights",Amaysim Operations Pty Ltd,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,"Head of Brand Strategy, Research and Insights ...",NaN,150,200,NaN,Amaysim Operations Pty Ltd
318462,38548318,General Manager ANZ,TE Connectivity Australia Pty Ltd,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,Lead a team of dedicated professionals who are...,NaN,150,200,NaN,TE Connectivity Australia Pty Ltd
318463,38557250,Head of Risk,Pacific Search Partners,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,An outstanding opportunity to lead the Risk fu...,NaN,150,200,NaN,Pacific Search Partners
318464,38546643,Hospitality workers!!! Love talking and travel...,Wow Recruitment,2019-03-11T00:00:00.000Z,NaN,NaN,NaN,NaN,Transfer your Customer Service skills and chal...,NaN,150,200,NaN,Wow Recruitment
318465,38529212,GM Sales & Commercial,Six Degrees Executive Pty Ltd,2019-03-08T00:00:00.000Z,NaN,NaN,NaN,NaN,The Australian Grand Prix Corporation delivers...,NaN,150,200,NaN,Six Degrees Executive Pty Ltd
318466,38550628,Financial Controller: $150k + Super,Reo Group,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,Group subsidiary seeks a hands-on Financial Co...,NaN,150,200,NaN,Reo Group
318467,38551841,Account Manager,Babcock Pty Ltd,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,Babcock are currently seeking a senior level A...,NaN,150,200,NaN,Babcock Pty Ltd
318468,38560638,Chief Human Resources Officer,Department of Premier & Cabinet,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Join DPCs People and Culture branch as the Chi...,NaN,150,200,NaN,Department of Premier & Cabinet
318469,38537074,General Manager - Port Hedland,Bruce Rock Engineering,2019-03-08T00:00:00.000Z,NaN,NaN,NaN,NaN,The General Manager will be accountable to enh...,NaN,200,999,NaN,Bruce Rock Engineering
318470,38543176,"General Manager, Transformation (PMO) c$270,00...",Perigon Group Pty Limited,2019-03-11T00:00:00.000Z,NaN,NaN,NaN,NaN,High profile role managing major projects to ...,NaN,200,999,NaN,Perigon Group Pty Limited
318471,38558448,"Film Extras, Models, Actors of All Ages For Le...",Roseys Model Management,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,CASTING new TV shows & Films now call us we ne...,NaN,200,999,NaN,Roseys Model Management
318472,38564891,Program Manager - Trade Reporting,Talenza,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Our client is a large Financial Services firm ...,NaN,200,999,NaN,Talenza
318473,38564940,Web Content Writer - June 2019 contract,Talent – Winner ‘Seek Large Recruitment Agency...,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,You will be able to write clearly and concisel...,NaN,200,999,NaN,Talent – Winner ‘Seek Large Recruitment Agency...
318474,38552964,Brand Director - Global Premium Brand,Retail Career Consulting Pty Ltd,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,Newly created Brand Director AUS. Must be comm...,NaN,200,999,NaN,Retail Career Consulting Pty Ltd
318475,38534438,"Head of Financial Planning, Reporting & Strategy",Moir Group,2019-03-08T00:00:00.000Z,NaN,NaN,NaN,NaN,High-quality manufacturing organisation. Excit...,NaN,200,999,NaN,Moir Group
318476,38561751,Head of Operations - EOI,Austcorp Executive,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Expressions of interest for a leadership role,NaN,200,999,NaN,Austcorp Executive

There are more data for Company in CompanyGroupID for sacrifying missing values

In [92]:
missing_company = df_clean['Company'].isnull().sum()
print(f"🔎 Missing Company (NaN): {missing_company}")

# check CompanyGroupID string "NaN" each line
missing_companyID_string = df_clean['CompanyGroupID'].str.contains('NaN', na=False).sum()
print(f"🔎 CompanyGroupID in string 'NaN': {missing_companyID_string}")

🔎 Missing Company (NaN): 12004
🔎 CompanyGroupID in string 'NaN': 10885

In [94]:
print(df_clean[df_clean['CompanyGroupID'].str.contains('Unknown|NaN', na=False)]['CompanyGroupID'].value_counts())

CompanyGroupID
NaN                   5276
NaN_NSW               1883
NaN_VIC               1586
NaN_QLD               1286
NaN_WA                 374
NaN_SA                 312
NaN_TAS                100
NaN_NT                  68
Store_UnknownState      30
Name: count, dtype: int64

In [96]:
# Filtering CompanyGroupID with "NaN_"
nan_group_rows = df_clean[df_clean['CompanyGroupID'].str.contains('NaN_', na=False)]

In [98]:
nan_group_rows.head(10)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType,CompanyGroupID
75,37404295,Dental Assistant,NaN,2018-10-07T00:00:00.000Z,Melbourne,Bayside & South Eastern Suburbs,Healthcare & Medical,Dental,Part Time Dental Assistant (Qualified or Train...,NaN,0,30,NaN,NaN_VIC
116,37404205,Dental Assistant,NaN,2018-10-07T00:00:00.000Z,Melbourne,Eastern Suburbs,Healthcare & Medical,Dental,"Friendly, supportive dental practice, sign-on ...",NaN,0,30,NaN,NaN_VIC
147,37404201,Electrician,NaN,2018-10-07T00:00:00.000Z,Sydney,NaN,Trades & Services,Electricians,Electricians wanted for job in Sydney.\nIMMEDI...,<p> </p><p>Electricans Wanted</p><p> </p><p> <...,0,30,Contract/Temp,NaN_NSW
317,37404027,Mechanical Plumber,NaN,2018-10-07T00:00:00.000Z,Melbourne,NaN,Trades & Services,Plumbers,We are in need of Mechanical Plumbers for our ...,<p>We are in need of Mechanical Plumbers joini...,0,30,Contract/Temp,NaN_VIC
355,37403984,Covert Cash in Transit Banking Security Guard,NaN,2018-10-07T00:00:00.000Z,Sydney,NaN,Trades & Services,Security Services,Covert security guard minimum 2 days every wee...,<p>Our Company is a specialist in providing di...,0,30,Part Time,NaN_NSW
402,37403937,SALES WARRIOR - NEW BUSINESS HUNTER! BASE + CA...,NaN,2018-10-07T00:00:00.000Z,Sydney,NaN,Sales,Sales Representatives/Consultants,Our client is an Australian market leader in t...,<p><strong>$130-150k&nbsp;Package!! 50% of you...,0,30,Full Time,NaN_NSW
417,37403920,BUSINESS DEVELOPMENT MANAGER - HORECA HOSPITAL...,NaN,2018-10-07T00:00:00.000Z,Melbourne,NaN,Sales,Sales Representatives/Consultants,Our client has an impressive aesthetic product...,<p><strong>Are you Searching For a Progressive...,0,30,Full Time,NaN_VIC
418,37403919,ACCOUNT MANAGER - TECHNICAL SOLUTIONS FOR CIVI...,NaN,2018-10-07T00:00:00.000Z,Sydney,NaN,Sales,Sales Representatives/Consultants,Our client is one of Australia's most dynamic ...,<p>HAVE YOU SOLD TECHNICAL SOLUTIONS? CONSTRUC...,0,30,Full Time,NaN_NSW
432,37403904,Registered Nurse General Practice,NaN,2018-10-07T00:00:00.000Z,Sydney,Parramatta & Western Suburbs,Healthcare & Medical,Nursing - General Medical & Surgical,Guildford Road Medical Centre is looking for a...,<p>Guildford Road Medical Centre is a well&nbs...,0,30,Full Time,NaN_NSW
450,37403880,Head of Customer Experience,NaN,2018-10-07T00:00:00.000Z,Brisbane,NaN,CEO & General Management,General/Business Unit Manager,We want to be a globally recognised leader in ...,<p>We are a global franchised business network...,0,30,Full Time,NaN_QLD

In [166]:
def infer_company(row):
    classification = row['Classification']
    subclassification = row['SubClassification']
    location = row['Location']
    requirement = row['Requirement']

    if pd.isna(classification): classification = ''
    if pd.isna(subclassification): subclassification = ''
    if pd.isna(location): location = ''
    if pd.isna(requirement): requirement = ''
    
    # Find state
    state = get_state(location)

    # Define mapping rules
    clinic_keywords = ['Dental', 'Nursing', 'Healthcare & Medical', 'Medical']
    mechanic_keywords = ['Electricians', 'Plumbers']
    store_keywords = ['Sales Representatives/Consultants', 'Trades & Services', 'Retail', 'Sales']
    edu_keywords = ['Education & Training', 'Childcare']
    company_keywords = [
        'Manufacturing', 'Transport', 'Logistics', 'Administration',
        'Human Resources', 'Recruitment', 'Accounting', 
        'Legal', 'Information & Communication Technology', 
        'CEO & General Management', 'Marketing', 'Office Support',
        'Call Centre', 'Customer Service', 'Advertising', 'Management']
    restaurant_keywords = ['Hospitality', 'Waiting Staff']
    bank_keywords = ['Banking', 'Banking - Retail/Branch']
    government_keywords = ['Government', 'Community Services', 'Welfare', 'Policy']
    industry_keywords = ['Architecture', 'Mining', 'Engineer', 'Construction', 'Oil', 'Gas', 'Energy', 'Design & Architecture']

    # Lower priority matching rules
    if any(keyword in classification or keyword in subclassification for keyword in clinic_keywords):
        return f'Clinic_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in mechanic_keywords):
        return f'MechanicService_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in store_keywords):
        return f'Store_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in edu_keywords):
        return f'EducationalInstitution_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in company_keywords):
        return 'Company'
    if any(keyword in classification or keyword in subclassification for keyword in restaurant_keywords):
        return f'Restaurant_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in bank_keywords):
        return f'Bank_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in government_keywords):
        return f'Government_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in industry_keywords):
        return f'IndustrialSector_{state}'

    # If no matching
    if state != 'UnknownState':
        return f"NaN_{state}"
    else:
        return 'NaN'

In [168]:
df_clean.loc[mask_missing_company, 'CompanyGroupID'] = df_clean[mask_missing_company].apply(infer_company, axis=1)

print("✅ CompanyGroupID created successfully based on State Mapping!")
missing_company = df_clean['Company'].isnull().sum()
print(f"🔎 Missing Company (NaN): {missing_company}")

# check CompanyGroupID string "NaN" each line
missing_companyID_string = df_clean['CompanyGroupID'].str.contains('NaN', na=False).sum()
print(f"🔎 CompanyGroupID in string 'NaN': {missing_companyID_string}")

✅ CompanyGroupID created successfully based on State Mapping!
🔎 Missing Company (NaN): 12004
🔎 CompanyGroupID in string 'NaN': 4740

In [170]:
print(df_clean[df_clean['CompanyGroupID'].str.contains('Unknown|NaN', na=False)]['CompanyGroupID'].value_counts())

CompanyGroupID
NaN                                    4630
Store_UnknownState                      233
Restaurant_UnknownState                  80
IndustrialSector_UnknownState            74
Clinic_UnknownState                      73
Government_UnknownState                  60
NaN_VIC                                  35
EducationalInstitution_UnknownState      29
NaN_NSW                                  28
NaN_QLD                                  21
MechanicService_UnknownState             18
NaN_TAS                                   9
NaN_SA                                    7
NaN_WA                                    6
NaN_NT                                    4
Name: count, dtype: int64

In [172]:
# Filtering CompanyGroupID with "NaN_"
nan_group_rows = df_clean[df_clean['CompanyGroupID'].str.contains('NaN_', na=False)]
nan_group_rows.tail(10)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType,CompanyGroupID
168663,37908815&searchrequesttoken=4cdd7c11-59e9-447c...,Grade 1 Scientist,NaN,2018-12-11T00:00:00.000Z,Melbourne,Bayside & South Eastern Suburbs,Science & Technology,Biotechnology & Genetics,An exciting opportunity exists to join the Bio...,<p><strong>We are extremely passionate about u...,40,50,Full Time,NaN_VIC
169045,37905033&searchrequesttoken=68411b8b-2e49-4284...,Membership Consultant,NaN,2018-12-10T00:00:00.000Z,"Newcastle, Maitland & Hunter",NaN,Sport & Recreation,Other,Energetic Membership Consultant at Planet Fitn...,<p><strong>The Judgement Free Health Club</str...,40,50,Casual/Vacation,NaN_NSW
169643,37938098&searchrequesttoken=649b8894-343d-4f8d...,Field Technician - Agronomy Services,NaN,2018-12-14T00:00:00.000Z,Mildura & Murray,NaN,"Farming, Animals & Conservation",Agronomy & Farm Services,Fantastic opportunity to join a fast growing t...,<p><em><strong>Phytech </strong></em>are an Is...,50,60,Full Time,NaN_VIC
171057,37931386&searchrequesttoken=8568bd77-6c9f-41c0...,Vineyard Hand,NaN,2018-12-14T00:00:00.000Z,Hobart,NaN,"Farming, Animals & Conservation",Winery & Viticulture,"love working outdoors, hardworking and good co...",<p><strong>Stefano Lubiana Wines seeks</strong...,50,60,Full Time,NaN_TAS
171186,37930736&searchrequesttoken=9fcc1a79-cf4b-49b4...,Experienced Personal Trainer,NaN,2018-12-14T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Sport & Recreation,Fitness & Personal Training,Unique opportunity for exceptional career move...,<p>We&nbsp;are seeking a highly motivated fitn...,50,60,Full Time,NaN_VIC
173621,37938098&searchrequesttoken=fbb702d5-04ab-4b31...,Field Technician - Agronomy Services,NaN,2018-12-14T00:00:00.000Z,Mildura & Murray,NaN,"Farming, Animals & Conservation",Agronomy & Farm Services,Fantastic opportunity to join a fast growing t...,<p><em><strong>Phytech </strong></em>are an Is...,60,70,Full Time,NaN_VIC
175029,37931386&searchrequesttoken=53377483-351b-4a99...,Vineyard Hand,NaN,2018-12-14T00:00:00.000Z,Hobart,NaN,"Farming, Animals & Conservation",Winery & Viticulture,"love working outdoors, hardworking and good co...",<p><strong>Stefano Lubiana Wines seeks</strong...,60,70,Full Time,NaN_TAS
175133,37930736&searchrequesttoken=44f7dc5e-c01c-48bb...,Experienced Personal Trainer,NaN,2018-12-14T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Sport & Recreation,Fitness & Personal Training,Unique opportunity for exceptional career move...,<p>We&nbsp;are seeking a highly motivated fitn...,60,70,Full Time,NaN_VIC
184732,37918574&searchrequesttoken=a9b27694-7b34-434b...,Personal Trainers - Snap Fitness - Multiple Lo...,NaN,2018-12-12T00:00:00.000Z,Perth,NaN,Sport & Recreation,Fitness & Personal Training,"If you've got what it takes to be the best, th...",<ul>\n <li><strong>Want to be a part ...,100,120,Casual/Vacation,NaN_WA
187815,37918574&searchrequesttoken=9d22f85b-e53a-4dcb...,Personal Trainers - Snap Fitness - Multiple Lo...,NaN,2018-12-12T00:00:00.000Z,Perth,NaN,Sport & Recreation,Fitness & Personal Training,"If you've got what it takes to be the best, th...",<ul>\n <li><strong>Want to be a part ...,120,150,Casual/Vacation,NaN_WA

In [174]:
# I think it's ok for now to get some CompanyGroupID back and then will cut NaN
def infer_company(row):
    classification = row['Classification']
    subclassification = row['SubClassification']
    location = row['Location']
    requirement = row['Requirement']

    if pd.isna(classification): classification = ''
    if pd.isna(subclassification): subclassification = ''
    if pd.isna(location): location = ''
    if pd.isna(requirement): requirement = ''
    
    # Find state
    state = get_state(location)

    # Define mapping rules
    clinic_keywords = ['Dental', 'Nursing', 'Healthcare & Medical', 'Medical']
    mechanic_keywords = ['Electricians', 'Plumbers']
    store_keywords = ['Sales Representatives/Consultants', 'Trades & Services', 'Retail', 'Sales']
    edu_keywords = ['Education & Training', 'Childcare']
    company_keywords = [
        'Manufacturing', 'Transport', 'Logistics', 'Administration',
        'Human Resources', 'Recruitment', 'Accounting', 
        'Legal', 'Information & Communication Technology', 
        'CEO & General Management', 'Marketing', 'Office Support',
        'Call Centre', 'Customer Service', 'Advertising', 'Management']
    restaurant_keywords = ['Hospitality', 'Waiting Staff']
    bank_keywords = ['Banking', 'Banking - Retail/Branch']
    government_keywords = ['Government', 'Community Services', 'Welfare', 'Policy']
    industry_keywords = ['Architecture', 'Mining', 'Engineer', 'Construction', 'Oil', 'Gas', 'Energy', 'Design & Architecture']

    # Lower priority matching rules
    if any(keyword in classification or keyword in subclassification for keyword in clinic_keywords):
        return f'Clinic_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in mechanic_keywords):
        return f'MechanicService_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in store_keywords):
        return f'Store_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in edu_keywords):
        return f'EducationalInstitution_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in company_keywords):
        return f'Company_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in restaurant_keywords):
        return f'Restaurant_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in bank_keywords):
        return f'Bank_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in government_keywords):
        return f'Government_{state}'
    if any(keyword in classification or keyword in subclassification for keyword in industry_keywords):
        return f'IndustrialSector_{state}'

    # If no matching
    if state != 'UnknownState':
        return 'Nan'

In [176]:
print(df_clean[df_clean['CompanyGroupID'].str.contains('Unknown|NaN', na=False)]['CompanyGroupID'].value_counts())

CompanyGroupID
NaN                                    4630
Store_UnknownState                      233
Restaurant_UnknownState                  80
IndustrialSector_UnknownState            74
Clinic_UnknownState                      73
Government_UnknownState                  60
NaN_VIC                                  35
EducationalInstitution_UnknownState      29
NaN_NSW                                  28
NaN_QLD                                  21
MechanicService_UnknownState             18
NaN_TAS                                   9
NaN_SA                                    7
NaN_WA                                    6
NaN_NT                                    4
Name: count, dtype: int64

In [178]:
missing_company = df_clean['Company'].isnull().sum()
print(f"🔎 Missing Company (NaN): {missing_company}")

# check CompanyGroupID string "NaN" each line
missing_companyID_string = df_clean['CompanyGroupID'].str.contains('NaN', na=False).sum()
print(f"🔎 CompanyGroupID in string 'NaN': {missing_companyID_string}")

🔎 Missing Company (NaN): 12004
🔎 CompanyGroupID in string 'NaN': 4740

In [ ]:
# Save cleaned dataframe
df_clean.to_csv('data_clean.csv', index=False)

# Filter out NaN Group
df_clean_final = df_clean[df_clean['CompanyGroupID'] != 'Nan']
# Save final cleaned data
df_clean_final.to_csv('data_clean_final.csv', index=False) # no NaN version

print("✅ data_clean_final.csv saved (without Nan groups)!")